/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container, .challenge, .prompt, .timerblock, .button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

body {
    font-family: Arial, sans-serif;
    background-color: #34BB78;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header img {
    width: 95px;
    height: auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main img {
    margin-top: 2%;
    max-width: 100%;
    width: 40%;
    height: auto;
}

.main p {
    max-width: 850px;
    line-height: 1.6;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bolder;
}

h2 {
    color: #fff;
    font-weight: bolder;
    font-size: 40px;
}

p {
    margin-top: 25px;
    margin-bottom: 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    line-height: 25px;
}

.bold-hashtag {
    font-weight: bold;
    color: #274536; /* Adds the specified color */
}

.highlight {
    font-weight: bold;
    color: #34BB78;
}

.challenge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15vh;
    margin-top: 30px;
    padding: 30px;
    transition: opacity 0.5s ease-in-out;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.button button {
    background-color: #2A8659;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button1 button {
    background-color: #2A8659;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button button:hover {
    background-color: #24784d;
}

.container {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    margin-top: 35px;
}

.circle {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #274536;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}

.block1, .block2, .block3, .block4 {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.block1 p, .block2 p, .block3 p, .block4 p {
    font-size: 16px;
    color: #333;
}

.container, .prompt, .timerblock {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.winners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

/* Basic Footer Layout (Mobile-first design) */
footer {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
}

footer .logo img {
    width: 100px; /* Logo size */
    margin-bottom: 15px;
}

footer .terms, footer .app {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.sectionthree {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.terms {
    border: 1px solid #274536;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
    border-radius: 10px;
    justify-content: end;
    align-items: flex-end;
}

.terms a {
    color: black;
    text-decoration: none;
}

.prompt {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.prompt p {
    max-width: 1000px; /* Optional: Limits the text width for readability */
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

/* Default (Mobile-first) styling */
.social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social-media div {
    width: 40px;  /* Default size for mobile */
    height: 40px;
}

.social-media img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8; /* Adjust background as needed */
}

footer .logo img {
    height: 80px; /* Adjust logo size */
    width: auto;
    gap: 25px;
}

footer .social-media {
    display: flex;
    gap: 20px; /* Space between icons */
}

footer .social-media img {
    width: 35px; /* Set a default size for social media icons */
    height: auto;
}

footer .sectionthree {
    display: flex;
    gap: 20px;
}

footer .sectionthree .terms, 
footer .sectionthree .app {
    font-size: 18px; /* Adjust font size */
    color: #333;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect ratio */
    height: 0; /* Required for padding-bottom to work */
    overflow: hidden;
    max-width: 100%; /* Max width of the container */
    width: 80%; /* Default width set to 80% for desktop */
    margin: 10 auto; /* Reduced margin-top to 10px */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#countdown-container {
    text-align: center; /* Center the header and the countdown */
}

#countdown-header {
    font-size: 24px; /* Larger font for the header */
    font-weight: bold;
    margin-bottom: 20px; /* Space between header and countdown */
    color: #ffff; /* White color for visibility */
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Style for time-box */
.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #274536;
    color: white;
    border-radius: 10px;
    font-size: 3px; /* Adjust number size */
    position: relative; /* So the labels can be positioned outside */
}

/* Number styling */
.time-number {
    font-size: 36px; /* Number size inside the box */
    font-weight: bold;
}

/* Label styling */
.time-label {
    font-size: 14px; /* Adjust label size */
    margin-top: 8px; /* Space between number and label */
    text-align: center;
    position: absolute;
    bottom: -20px; /* Position label below the block */
    left: 50%;
    transform: translateX(-50%); /* Center the label horizontally */
}

/* Media query for screens smaller than 768px (tablets and phones) */
@media (max-width: 768px) {
    #countdown-header {
        font-size: 20px; /* Smaller header font size */
    }
    
    h2 {
       color: #fff;
       font-weight: bolder;
       font-size: 28px;
    }

    .time-box {
        width: 50px; /* Smaller width for the time boxes */
        height: 50px; /* Smaller height for the time boxes */
    }

    .time-number {
        font-size: 28px; /* Smaller number size */
    }

    .time-label {
        font-size: 12px; /* Smaller label size */
        bottom: -15px; /* Adjust the label's position */
    }

    #countdown {
        gap: 15px; /* Smaller gap between time boxes */
    }
}

/* Media query for very small screens (e.g., phones in portrait mode) */
@media (max-width: 480px) {
    #countdown-header {
        font-size: 18px; /* Further reduce the header font size */
    }

    .time-box {
        width: 60px; /* Even smaller time boxes */
        height: 60px; /* Smaller height for the time boxes */
    }

    .time-number {
        font-size: 24px; /* Smaller number size for very small screens */
    }

    .time-label {
        font-size: 10px; /* Even smaller label size */
        bottom: -12px; /* Adjust the label's position for very small screens */
    }

    #countdown {
        gap: 10px; /* Reduce the gap between the time boxes even more */
    }

    h2 {
        font-size: 30px;
        font-color: #fff;
    }
}

@media screen and (max-width: 480px) {
    .main img {
        width: 70%; /* Further reduce image width for small screens */
        margin-top: 10%; /* Adjust margin-top for small mobile screens */
    }

    .main p {
        font-size: 18px;
        width: 100%;
    }
}

/* Media Query for larger screens */
@media (min-width: 1024px) {
    .iframe-container {
        width: 60%; /* Adjust the width to 60% on larger screens */
    }
}

/* Media Query for mobile screens */
@media (max-width: 768px) {
    .iframe-container {
        width: 100%; /* Full width on smaller screens */
    }
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    footer .social-media {
        margin: 10px 0;
    }

    footer .social-media img {
        width: 25px; /* Adjust icon size for smaller screens */
    }

    footer .sectionthree {
        margin-top: 5px;
        flex-direction: column;
        text-align: center;
    }

    footer .sectionthree .terms, 
    footer .sectionthree .app {
        font-size: 12px; /* Adjust font size for mobile */
        margin: 5px 0;
    }

    footer .logo img {
        width: 50px;
        height: auto;
    }

    footer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

     .main img {
        width: 90%; /* Ensure the image is responsive */
        height: auto;
        margin-top: 25%;
    }

    .main p {
        width: 60%;
        height: auto;
        font-size: 18px;
    }
}

/* Media Query for Mobile */
@media only screen and (max-width: 768px) {
    .button1 {
        text-align: center; /* Ensure the button remains centered */
        margin-top: 60px; /* Add some margin on mobile for spacing */
        padding-top: 25px;
    }

    .button button {
        font-size: 16px;
        font-weight: 500;
        padding: 10px 15px;
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .container {
        width: 85%; /* Full width on smaller screens */
    }

    .timer {
        width: 85%; /* Full width on smaller screens */
    }
}

