/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
}

body {
    font-family: "Roboto", "sans-serif";
    background-color: #274536;
}

/* Main layout of the page */
.main {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    position: relative;
}

header img {
    width: 95px;
    height: auto;
}

h1 {
    font-size: 40px;
    color: white;
    z-index: 2; 
    margin-bottom: 20px;
    font-weight: 800;
}

p {
    color: white; 
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 400;
}

/* Icon positioning */
.icon {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-bottom: 20px; /* Adjust spacing between icon and main */
}

.icon img {
    height: 150px;
    width: auto;
    pointer-events: none;
}

/* Ensure the icon appears above main content */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

/* Media Queries for Mobile Devices */
@media screen and (max-width: 768px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 32px; /* Adjusted font size for mobile */
    }

    .icon img {
        height: 60px; /* Slightly smaller microphone icon on mobile */
        width: auto;
    }

    p {
        font-size: 18px; /* Adjusted paragraph font size for mobile */
    }

    .logo {
        width: 130px;  /* Adjust logo size for mobile */
        margin-bottom: 15px; /* Adjust space between the logo and the heading */
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 28px; /* Smaller font size for very small screens */
    }

    .icon img {
        height: 135px;
        widht: auto;
    }

    p {
        font-size: 14px; /* Smaller paragraph font size */
    }

    .logo {
        width: 100px;  /* Further reduced logo size for very small screens */
        margin-bottom: 10px; /* Adjust space between the logo and the heading */
    }
}





